@font-face {
  font-family: 'DrukTextWide';
  src: url('../DrukTextWide-Medium.woff');
}

.react-datepicker {
  font-family: DrukTextWide !important;
  border-radius: 0 !important;
  border: none !important;
}

.react-datepicker-popper {
  z-index: 100 !important;
}

.react-datepicker__header {
  background-color: #a3e635 !important;
  border-radius: 0 !important;
  border-color: #000 !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__navigation-icon--next::before,
.react-datepicker__navigation-icon--previous::before {
  border-color: #000 !important;
  transition: all 0.15s !important;
}

.react-datepicker__navigation--next:hover
  .react-datepicker__navigation-icon--next::before,
.react-datepicker__navigation--previous:hover
  .react-datepicker__navigation-icon--previous::before {
  border-color: #fff !important;
}

.react-datepicker__month-container {
  background-color: #000 !important;
}

.react-datepicker__day {
  color: #fff !important;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover {
  background: none !important;
  color: #a3e635 !important;
}
