.item::before {
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  content: '';
  transition: transform 0.15s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: #000;
}

.item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.item::after {
  position: absolute;
  top: 50%;
  right: -20px;
  display: block;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  content: '';
  transform: rotate(45deg) translateY(50%);
  border-top: 2px solid;
  border-right: 2px solid;
}
