.arrow {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #a3e635;
}
